<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- 配置SessionFactory -->
 	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" >
			<ref local="dataSource"/>
		</property>
		<!-- 配置Hibernate的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 指定HIbernate映射文件的路径 -->
		<property name="mappingResources">
			<list>
				<value>com/recognition/entity/Administrator.hbm.xml</value>
				<value>com/recognition/entity/User.hbm.xml</value>
				<value>com/recognition/entity/Department.hbm.xml</value>
				<value>com/recognition/entity/Signature.hbm.xml</value>
			</list>
		</property>
 	</bean>
	 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
<!-- 			<value>jdbc:mysql://sqld.duapp.com:4050/fcmpBmSTGfkidmNbENeu</value> -->
			<value>jdbc:mysql://localhost:3306/demo</value>
		</property>
                
		<property name="username">
<!-- 			<value>BGbNHDOQNmr5QroETMQWY1hg</value> -->
				<value>root</value>
		</property>
		<property name="password">
<!-- 			<value>5r7OghGkZZO3gUweeofFFmwTjatZ16dk</value> -->
			<value>123456</value>
		</property>
	</bean>	
    
    <bean id="adminDAO" class="com.recognition.daoImpl.AdministratorDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="loginService" class="com.recognition.serviceImpl.LoginServiceImpl">
    	<property name="adminDAO" ref="adminDAO" />
    </bean>
    <bean id="loginAction" class="com.recognition.action.LoginAction">
    	<property name="loginService" ref="loginService" />
    </bean>
    
    <bean id="departmentDAO" class="com.recognition.daoImpl.DepartmentDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
   
   <bean id="userDAO" class="com.recognition.daoImpl.UserDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="registerService" class="com.recognition.serviceImpl.RegisterServiceImpl">
    	<property name="departmentDAO" ref="departmentDAO" />
    	<property name="userDAO" ref="userDAO" />
    </bean>
    
    <bean id="getDepartmentAction" class="com.recognition.action.GetDepartmentAction">
    	<property name="registerService" ref="registerService" />
    </bean>
    
    <bean id="registerAction" class="com.recognition.action.RegisterAction">
    	<property name="registerService" ref="registerService" />
    </bean>
    
    <bean id="signatureDAO" class="com.recognition.daoImpl.SignatureDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean> 
    
    <bean id="signatureService" class="com.recognition.serviceImpl.SignatureServiceImpl">
    	<property name="signatureDAO" ref="signatureDAO" />
    	<property name="userDAO" ref="userDAO" />
    </bean>
    
    <bean id="signatureAction" class="com.recognition.action.SignatureAction">
    	<property name="signatureService" ref="signatureService" />
    </bean>
    
    <bean id="requestSignatureAction" class="com.recognition.action.RequestSignatureAction">
    	<property name="signatureService" ref="signatureService" />
    </bean>
    
</beans>
